button {
    &:disabled {
        opacity: .5;
    }

    &:hover {
        transition: all 500ms ease-in-out;
    }
}

[class^="btn__"] {
    &:hover {
        animation: pulse 0.5s linear infinite;

        @keyframes pulse {
            0% {
                transform: scale(0.95);
                box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.2);
            }

            70% {
                transform: scale(1);
                box-shadow: 0 0 0 10px rgba(0, 0, 0, 0);
            }

            100% {
                transform: scale(0.95);
                box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
            }
        }
    }
}

.btn__round {
    font-size: 14px;
    font-weight: 600;
    line-height: 23px;
    border: 2px solid #C80000;
    border-radius: 27px;
    padding: 16px 34px;
    text-transform: uppercase;
    color: #fff;



    &:hover {
        background: #C80000;
    }
}