.basket-table {
    width: 100%;
}

.table__row {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 30px 0;
}

@import "./tableColumn";

.table__total {
    border-radius: 0px 0px 15px 15px;
    text-align: end;
    padding: 25px;
    background-color: #232323;
}

.table__total-text {
    font-size: 16px;
    font-weight: 500;
    line-height: 20px;
    color: #ADACAC;
}

.table__total-price {
    font-size: 24px;
    font-weight: 500;
    font-family: Jura;
    line-height: 28px;
    text-transform: uppercase;
    color: #fff;
}